.app {
  text-align: center;
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.current-value-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.current-value-container > input {
  margin-left: 15px;
  height: 30px;
  text-align: right;
  font-size: large;
  font-weight: 600;
}

.increment-button {
  margin-top: 30px;
  font-size: large;
  background-color: gray;
  padding: 15px 40px;
  border-color: aliceblue;
  border-radius: 5px;
  color: aliceblue;
  font-weight: 600;
}